#saveAlias {
	height: 30px;
	width: 200px;
	margin: 10px;
	font-size: medium;
}

button {
	color: white;
	padding: 5px;
}
/*
input {
	height: 30px;
	width: auto;
	margin: 10px;
	padding: 10px;
	font-size: medium;
}
*/
label {
	font-weight: bold;
	font-size: medium;
	margin: 10px;
}

h2, h5 {
	margin: 10px;
	font-weight: bold;
}

#contentArea, #inputArea {
	background-color: whitesmoke;
	padding: 10px;
}

#titleArea {
	background-color: lightgrey;
	padding: 10px;
}


